<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">

<head>
  {%- if page.redirect -%}
  <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
</head>

<body>

  {% include topnav.html %}

  <div class="site-body">

    <aside class="left-sidebar">
      {% include sidebar.html %}
    </aside>

    <div class="site-content">
      <div class="content-area">
        {{ content }}
      </div>
      <footer class="site-footer">
        <p>
          &copy; {{ 'now' | date: "%Y" }} {{ site.first_name }} {{ site.last_name }}
          {% if site.last_updated %}
          &mdash; Last updated {{ site.time | date: "%B %Y" }}
          {% endif %}
        </p>
      </footer>
    </div>

  </div>

  {% include scripts/jquery.html %}
  {% include scripts/bootstrap.html %}
  {% include scripts/misc.html %}
  {% include scripts/mathjax.html %}
  {% include scripts/badges.html %}

</body>
</html>
